// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-image {
	background-image: url('great-smoky-mountains.png');
	height: 800px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#welcome-text {
	position: absolute;
	top: 160px;
	left: 0;
	padding-left: 20px;
	padding-right: 110px;
	color: white;
	background-color: rgba(0,0,0, 0.6);
	line-height: 60px;
}