<h2>Edit your project information</h2>

<br>

<%= link_to "Delete This Project", my_project_path, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>

<br>

<%= render 'form', :local_variable => "Edit Project" %>